<html xmlns="html://www.w3.org/1999/xhtml">
<head>
<title>
</title>
</head>
<body>
    <br/>
    <br />
    <form uiactions="Index" method="post">
        <div>
            <input typeof="text" name ="firstname" placeholder="enter first name"/>
        </div>
        <br />
        <div>
            <input type="text" name="lastname" id="lastname" placeholder="enter last name"/>
        </div>
        <br />
        <div>
            <input typeof="text" name="email" id="email" placeholder="enter your email "/>
        </div>
        <br />
        <div>
            <input typeof="submit" value ="Register"/>
        </div>
    </form>
</body>
</html>

